.modal-editCharge-backdrop {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(145, 154, 150, 0.3);
    backdrop-filter: blur(4px);
  }
  
  .modal-editCharge-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  
    width: 600px;
    height: 758px;
    padding: 43px 45px;
  
    background: #FFFFFF;
    border-radius: 30px;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .modal-editCharge-backdrop label{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #3F3F55;
  
  }
  
  .modal-editCharge-close-icon {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 35px;
  }
  
  .modal-editCharge-title{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .modal-editCharge-title img {
    width: 32px;
    height: 32px;
  }
  
  .modal-editCharge-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
  
    display: flex;
    align-items: center;
  
    color: #3F3F55;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
  }
  
  .modal-editCharge-form-inputs{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  
  .modal-editCharge-name input{
    display: none;
    box-sizing: border-box;
    width: 485px;
    height: 44px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
  
    background: #FFFFFF;
  
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
  
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
  }
  
  .modal-editCharge-description textarea{
    width: 485px;
    height: 88px;
    max-width: 100%;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: "Nunito", sans-serif;
  }
  .modal-editCharge-combined {
    display: flex;
    flex-direction: row;
    gap: 25px;
    
  }
  
  .modal-editCharge-combined
  .modal-editCharge-form-inputs input {
    display: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
  
    background: #FFFFFF;
  
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
  
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 232px;
    height: 44px;
  
  }
  
  .modal-editCharge-form-buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
  
    margin-top: 40px;
  }
  
  .modal-editCharge-form-buttons button {
    display: none;
    box-sizing: border-box;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 81.5px;
  
    border-radius: 10px;
  
    width: 242px;
  
    cursor: pointer;
  }
  .modal-editCharge-status input{
    all: unset;
    
    align-items: flex-start;
   
    box-sizing: border-box;
    background-color: #f0f0f5;
    padding: 12px 16px;
    border-radius: 10px;
    font-family: "Nunito";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
   
  }
  .modal-status-label{
    all: unset;
   
    align-items: flex-start;
    position: relative;
    left: 48px;
    bottom: 37px;
    z-index: 0;
   
    box-sizing: border-box;
    background-color: #f0f0f5;
    padding: 15px 300px 18px 1px;
    border-radius: 10px;
    font-family: "Nunito";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 487px;
    height: 48px;
  
  }
  .modal-editCharge-status input{
    all: unset;
    display: flex;
    flex: none;
    flex-direction: row;
    align-items: flex-start;
    position:relative;
   
    box-sizing: border-box;
    background-color: #f0f0f5;
    padding: 12px 16px;
    border-radius: 10px;
    font-family: "Nunito";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
   
  
  }
  .label1{
   
    padding-right: 329px;
  }
  .position1{
    position: relative;
    top: 13px;
  }
  
  .modal-editCharge-status input[type='radio']:after {
  
    width: 24px;
    height: 24px;
    border-radius: 15px;
    
    background-image: url(../../assets/CheckboxGray.svg);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }
  .modal-editCharge-status input[type='radio']:checked:after {
    width: 24px;
    height: 24px;
    border-radius: 15px;
   
    background-image: url(../../assets/CheckboxGreen.svg);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }
  
  /* .modal-editCharge-form-buttons{
    margin-top: 100px;
  } */

  .mec-cancel {
    background: #F8F8F9;
    border: 1px solid #DEDEE9;
    position: static;
  
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #0E8750;
  }
  
  .mec-apply {
    background: #DA0175;
    border: none;
  
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #F8F8F9;
  }