.backdrop3 {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(145, 154, 150, 0.3);
    backdrop-filter: blur(4px);
  }
  
  .modal-content3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 512px;

    padding: 43px 45px;
  
    background: #FFFFFF;
    border-radius: 30px;
  
    display: flex;
    flex-direction: column;
    
  }
  
  .CheckIcon {
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    right: 235px;
    top: 180px;
  }
  
  .title-modal3{
    display: flex;
    position: absolute;
    left: 100px;
    top:300px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
  }
   
  .title-modal3 h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
  
    display: flex;
    align-items: center;
  
    color: #3F3F55;
  }