.home-section {
  margin-left: 188px;
  width: 79%;
}

.home-section-1 {
  display: flex;
  justify-content: space-between;

  margin-bottom: 32px;
}

.container-pay,
.container-unsucceful,
.container-preview {
  width: 31%;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.home-section-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}