@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@400;600&display=swap');

.signin-main {
    display: flex;
}
.signin-main .left {
    height: 100vh;
    background-image: url('../../assets/lateralBackgroundSignIn.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
}
.signin-main .left img {
    width: 100%;
}
.signin-main .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8F8F9;
    height: 100vh;
    width: 70%;
   
}
.signin-main .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.signin-main .form-login h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #343447;
    margin-bottom: 30px;
}
.form-login .new-senha {
    text-align: end;
}
.form-login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-form {
    display: flex;
    flex-direction: column;
}
.form-login label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    margin-bottom: 5px;
}
.form-login input {
    width: 344px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px 14px;
}
.form-login button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 40px;
    width: 90px;
    height: 33px;
    left: calc(50% - 160px/2 - 0.5px);
    top: calc(50% - 33px/2 - 0.5px);
    background: #DA0175;
    border-radius: 10px;
    color: #F8F8F9;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
